*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{ 
    
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(img/fondcssC2.jpeg);
    background-position: center;
    background-size: cover;
    

}

h1{
    text-align: center;
    color: white;
    margin:auto;
    
}
.textes{
    text-align: center;
    font-family: 'Cinzel', serif;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    font-family: 'Cinzel', serif;
    
}
.quitte{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    text-decoration: none;

}
.btnhome ul li{
    list-style: none;
    font-family: 'Cinzel', serif;
    transition: 0.5s;
    padding: 10px;
    border-radius:69% 31% 30% 67%/72% 47% 40% 26% ;
    cursor: pointer;
    color: white;
    
}
.btnhome ul a{
    text-decoration: none;
}
.btnhome ul li:hover{
    transform: scale(0.95);
    color: black;
    background-color: white;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.Body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-family: 'Poppins', sans-serif;
}

.container1{
    width: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cinzel', serif;
    justify-content: space-between;
}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 12px;
    margin-bottom: 10px;
    background-color: #000;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;    
}

.box:hover .imgBx img{
    opacity: 0;
}

.box .content{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background-color: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.box:hover .content{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.box .content h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.box .content p{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}

.box:hover .content p{
    opacity: 1;
    transition-delay: 0.5s;
}


#im1{
	height: 180px;
}
#im2{
	height: 180px;
	font-weight: 200px;
}
#im3{
	height: 180px;
}
#im4{
	height: 180px;
}
#im5{
	height: 180px;
}
#im6{
	height: 180px;
}
#im7{
	height: 180px;
}
#im8{
	height: 180px;
}    